# Introdução

### Tipos de variáveis

In [1]:
# Numericas
a11 = as.integer(4)
a12 = as.numeric(4)
a13 = as.factor('oi')

# Logicas
a14 = FALSE
# character
a2 = 'oi'

# print - funcao para imprimir na tela
# paste - funcao para concatenar texto
# typeof - funcao indicadora do tipo de variavel
print(paste(typeof(a11) , typeof(a12) , typeof(a13) , typeof(a14) ,typeof(a2)))

[1] "integer double integer logical character"

In [2]:
# fatores sao variaveis categoricas mapeadas para valores inteiros
print(as.numeric(a13))
print(a13)

[1] 1
[1] oi
Levels: oi

In [3]:
# cuidados
a3 = as.factor('489')
print(a3)

[1] 489
Levels: 489

In [4]:
print(levels(a3))

[1] "489"

In [5]:
print(typeof(a3))

[1] "integer"

In [6]:
print(as.numeric(a3))

[1] 1

In [7]:
# Para recuperar o 'valor original', deve-se mapear para character primeiro
print(as.numeric(as.character(a3)))

[1] 489

In [8]:
# vetor - estrutura para armazenar diversos valores - do mesmo tipo
# A sintaxe para criacao de vetores: c(x1,x2,x3...)
b1 = c(4,6,8)
print('Vetor:')
print(b1)

[1] "Vetor:"
[1] 4 6 8

In [9]:
# para acessar os valores, basta utilizar [x],em que x seria a posicao desejada
print( b1[1] )
print( b1[2] )
print( b1[3] )
print(paste(typeof(b1[1]) , typeof(b1[2]) , typeof(b1[3]) ))

[1] 4
[1] 6
[1] 8
[1] "double double double"

In [10]:
# Qualquer operacao realizada em um vetor, sera realizada para todos os seus elementos
c1 = c(1 ,2 ,3)
print(c1)
# Elevar a potencia
print(c1^2)
# Dividir
print(c1/2)
# Multiplicar
print(c1*2)
# Qualquer operacao
print(as.character(c1))
print(paste0(c1,'_'))

[1] 1 2 3
[1] 1 4 9
[1] 0.5 1.0 1.5
[1] 2 4 6
[1] "1" "2" "3"
[1] "1_" "2_" "3_"

In [11]:
# Mas pode-se realizar uma operacao em apenas um item
print(c1[2])
print(c1[2]*3)

[1] 2
[1] 6

In [12]:
# Pode-se saber tambem quantos elementos o vetor tem:
print(length(c1))

[1] 3

In [13]:
tratamento = c('A','A','A','B','B','B')
tratamento = as.factor(tratamento)
tratamento

[1] A A A B B B
Levels: A B

In [14]:
levels(tratamento)

[1] "A" "B"

In [15]:
as.numeric(tratamento)

[1] 1 1 1 2 2 2

In [16]:
# Se houver um 'char', todos os valores serao convertidos para char
b1 = c(1 , 'a' , 5)
print(paste(typeof(b1[1]) , typeof(b1[2]) , typeof(b1[3]) ))

[1] "character character character"

In [17]:
# lista - estrutura mais flexivel - suporta diversas estruturas, de diversos tipos
b2 = list(c('a','b') , 45 , 'oi')
print('Lista:')
print(b2)

[1] "Lista:"
[[1]]
[1] "a" "b"

[[2]]
[1] 45

[[3]]
[1] "oi"

In [18]:
vetor1 = b2[[1]]
vetor1[2]

[1] "b"

In [19]:
b2[[2]]

[1] 45

In [20]:
# para acessar os valores, basta utilizar [[x]],em que x seria a posicao desejada
print(b2[[1]])
# todos os elementos mantem suas propriedades. Neste caso, o primeiro elemento eh um vetor
# Para acessar seus elementos, basta acessa-los se acessasse valores em um vetor

print('Primeiro elemento do vetor (primeiro da lista)')
print(b2[[1]][1])
print('Segundo elemento do vetor (primeiro da lista)')
print(b2[[1]][2])

print(b2[[2]])
print(b2[[3]] )
print(paste(typeof(b2[[1]]) , typeof(b2[[2]]) , typeof(b2[[3]]) ))

[1] "a" "b"
[1] "Primeiro elemento do vetor (primeiro da lista)"
[1] "a"
[1] "Segundo elemento do vetor (primeiro da lista)"
[1] "b"
[1] 45
[1] "oi"
[1] "character double character"

In [21]:
# Perceba que pode-se associar nomes aos elementos da lista
b2 = list( a1 = 'a' , a2 = 2 , a3 = 'oi')
# Assim, pode-se acessa-os utilizando o operador '$'
print(paste(b2$a1 , b2$a2 , b2$a3 ))
print(paste(typeof(b2$a1) , typeof(b2$a2) , typeof(b2$a3) ))

[1] "a 2 oi"
[1] "character double character"

Ao se manipular dados no R, é essencial que se entenda o funcionamento de operações em vetores, pois os dataframes (principal estrutura utilizada na análise de dados) são um conjunto de vetores associado a um índice. A convenção utilizada na análise de dados é que cada linha represente um conjunto de variáveis (isto é, por exemplo, a primeira linha poderia se referir a um paciente em um hospital, e cada coluna da primeira linha deverá se referir às informações atribuídas a ele, como por exemplo, a coluna 1 ser a altura, a coluna 2 o peso, a coluna 3 a pressão, etc).

### Loops

In [22]:
# Sao estruturas que repetem determinada acao seguindo algum criterio

# loop for: Dado um conjunto de valores, itera sobre cada um, de forma sequencial.
# Ex:

valores = 1:10

for(val_ in valores){
    
#     val_: variavel temporaria, que a cada iteracao, assumira um valor da vetor 'valores' 
#     de forma sequencial
    print(paste('val_ agora vale:' , val_))
    
}

[1] "val_ agora vale: 1"
[1] "val_ agora vale: 2"
[1] "val_ agora vale: 3"
[1] "val_ agora vale: 4"
[1] "val_ agora vale: 5"
[1] "val_ agora vale: 6"
[1] "val_ agora vale: 7"
[1] "val_ agora vale: 8"
[1] "val_ agora vale: 9"
[1] "val_ agora vale: 10"

In [23]:
# No R, os principais operadores logicos sao:
# | - ou
# & - e
# == - igual
# != - diferente
# ! - negacao
# >,<,>=,<= - maior, menor, maior ou igual, menor ou igual

# While: repete acoes ate determinada condicao ser verdadeira
cont_ = 0
while(cont_ != 10){
    
    print(paste0('cont_ agora vale: ' , cont_))
#     Pode-se fazer o update da variavel da seguinte forma
    cont_ = cont_ + 1
    
}

[1] "cont_ agora vale: 0"
[1] "cont_ agora vale: 1"
[1] "cont_ agora vale: 2"
[1] "cont_ agora vale: 3"
[1] "cont_ agora vale: 4"
[1] "cont_ agora vale: 5"
[1] "cont_ agora vale: 6"
[1] "cont_ agora vale: 7"
[1] "cont_ agora vale: 8"
[1] "cont_ agora vale: 9"

### Exemplo

No código abaixo, são criados três vetores distintos, mas cujo intuito seria representar um dataframe. Suponha que trate-se de um experimento em que há dois grupos de voluntários (cada um representado por um número - id): aqueles que passaram pelo tratamento A, e aqueles que passaram pelo B (trat). Assim, realizado o experimento, cada um teve suas medidas tiradas (representadas por $y$).

In [24]:
id = 1:20
y<- c(89.7, 81.4, 84.5, 84.8, 87.3, 79.7, 85.1, 81.7, 83.7, 84.5, 84.7, 86.1, 83.2, 91.9, 86.3, 79.3, 82.6, 89.1, 83.7, 88.5)
trat <- c ( rep ( "A" , 10 ) ,rep ( "B", 10 ) )
# Juntando os diferentes vetores em uma lista
juntos = list(id,trat,y)

In [25]:
# Transformando a lista em um dataframe
df = as.data.frame ( juntos , stringsAsFactors = F )
# assimilando nomes as colunas
colnames(df) = c('ID','Trat','Resposta')
# mostrando primeiras 5 linhas do df
head ( df , 5 )

  ID Trat Resposta
1 1  A    89.7
2 2  A    81.4
3 3  A    84.5
4 4  A    84.8
5 5  A    87.3

In [26]:
# Suponha que desejamos acrescentar dois voluntarios
# O primeiro tem informações 90 (y) "B" (method) - id 21
# O segundo tem informações 84 (y) "A" (method) - id 22
dfExpandido = rbind ( df , list ( 21 , "B" , 90.0 ) , list ( 22 , "A" , 84.0 ) )
# mostrando ultimas 5 linhas do df
tail(dfExpandido , 5)

   ID Trat Resposta
18 18 B    89.1
19 19 B    83.7
20 20 B    88.5
21 21 B    90.0
22 22 A    84.0

In [27]:
# Suponha agora que temos a informação da altura de parte dos pacientes
# Sejam 15 pacientes
n_ = 15
# acrescentando uma semente para processos aleatorios
set.seed(9297791)
# Selecionados aleatoriamente, sem reposicao 15 pacientes
id = sample(x = 1:22 , size = n_ , replace = F )
# gerando valores aleatorios, seguindo distribicao normalm media 1.7, dp 0.1
y2 = rnorm(n = n_ , mean = 1.7 , sd = .1 )
# arredondando para apenas duas casas decimais
y2 = round( x = y2 , digits = 2 )
# criando df2
# Repare que pode-se dar nomes aos itens de uma lista
df2 = as.data.frame(list( Voluntario = id , Altura = y2 ))
# primeiras 5 linhas
head(df2 , 5)

  Voluntario Altura
1  1         1.76
2 16         1.65
3 21         1.73
4  8         1.70
5  3         1.75

In [28]:
# E que desejamos saber a altura dos voluntarios
# Neste caso, sera necessario fazer um merge entre ambos os df's

dfMerge = merge( x = dfExpandido , y = df2 , by.x = c('ID'), by.y = c('Voluntario') , all.x = T , all.y = F )
head(dfMerge,10)

   ID Trat Resposta Altura
1   1 A    89.7     1.76
2   2 A    81.4     1.79
3   3 A    84.5     1.75
4   4 A    84.8     1.77
5   5 A    87.3     1.65
6   6 A    79.7     1.71
7   7 A    85.1     1.78
8   8 A    81.7     1.70
9   9 A    83.7       NA
10 10 A    84.5       NA

In [29]:
dfMerge[is.na(dfMerge$Altura),]$Altura = 0

In [30]:
# Suponha que desejamos saber quais voluntarios tem a medida y superior a 85
# pode-se criar ou acessar colunas do df utilizando o operador $
# a funcao ifelse retorna os valores do segundo argumento se o primeiro argumento for verdadeiro
# caso contrario, retorna o terceiro argumento
dfMerge$Indica = ifelse ( test = dfMerge$Resposta >= 85 , yes = 1 , no = 0 )
head ( dfMerge , 5 )

  ID Trat Resposta Altura Indica
1 1  A    89.7     1.76   1
2 2  A    81.4     1.79   0
3 3  A    84.5     1.75   0
4 4  A    84.8     1.77   0
5 5  A    87.3     1.65   1

In [31]:
# Quantas informações estão acima de 85?

table ( dfMerge$Indica )

 0  1
13  9

In [32]:
# Quantas informações estão acima de 85 por tratamento?

table ( dfMerge$Trat , dfMerge$Indica )

    0 1
  A 8 3
  B 5 6

In [33]:
# Freq rel por linha?

prop.table ( table ( dfMerge$Trat , dfMerge$Indica ) , 1 )

            0         1
  A 0.7272727 0.2727273
  B 0.4545455 0.5454545

In [34]:
# Freq rel por coluna?

prop.table ( table ( dfMerge$Trat , dfMerge$Indica ) , 2 )

            0         1
  A 0.6153846 0.3333333
  B 0.3846154 0.6666667

In [35]:
# Freq rel total?

prop.table ( table ( dfMerge$Trat , dfMerge$Indica ) )

            0         1
  A 0.3636364 0.1363636
  B 0.2272727 0.2727273

In [36]:
# Outra forma que poderíamos ter construído "Indica"
# nrow - retorna quantidade de linhas de um df
# pode-se acessar cada linha do df por seu indice i -> df[i,]
# pode-se acessar cada coluna do df por -> df['coluna']
# pode-se acessar cada linha i na coluna especifica por -> df[i,'coluna']

# if(argumento){comando} - se o argumento for verdadeiro, executa o comando
# else{comando2} - se o primeiro if for falso, executa comando2
# pode-se encadear if's e else's - if(argumento1){comando1}else if(argumento2){comando2}else if...

for ( i in 1 : nrow ( dfMerge ) ){
    
    if ( dfMerge [ i , "Resposta" ] >= 85 ){
        
        dfMerge [ i , "Indica2" ] = 1
        
    } else {
        
        dfMerge [ i , "Indica2" ] = 0
        
    }
    
    
}

head ( dfMerge , 5 )

# Esta é uma forma muito mais lenta de se fazer a criação da variável

  ID Trat Resposta Altura Indica Indica2
1 1  A    89.7     1.76   1      1
2 2  A    81.4     1.79   0      0
3 3  A    84.5     1.75   0      0
4 4  A    84.8     1.77   0      0
5 5  A    87.3     1.65   1      1

In [37]:
# Suponha que iremos fazer um experimento com estes voluntarios, e lançaremos um dado de 4 faces
# honesto para decidir qual das 4 possibilidades
# Podemos definir da seguinte forma
# runif - gera um valor da distribuicao uniforme [0,1]

# Garantir reproducibilidade
set.seed ( 9297791 )
dfMerge$resultadosDado = runif ( nrow ( dfMerge ) )
dfMerge$TratamentoNovo = ifelse ( dfMerge$resultadosDado < .25 , "A" ,
                                    ifelse ( dfMerge$resultadosDado < .5 , "B" , 
                                           ifelse ( dfMerge$resultadosDado < .75 , "C" , "D" )))

head ( dfMerge , 5 )

  ID Trat Resposta Altura Indica Indica2 resultadosDado TratamentoNovo
1 1  A    89.7     1.76   1      1       0.4653364      B
2 2  A    81.4     1.79   0      0       0.8386083      D
3 3  A    84.5     1.75   0      0       0.6845161      C
4 4  A    84.8     1.77   0      0       0.5291512      C
5 5  A    87.3     1.65   1      1       0.1756871      A

In [38]:
# Suponha que se deseje apagar a coluna "resultadosDado"
dfMerge$resultadosDado = NULL
head ( dfMerge , 5 )

  ID Trat Resposta Altura Indica Indica2 TratamentoNovo
1 1  A    89.7     1.76   1      1       B
2 2  A    81.4     1.79   0      0       D
3 3  A    84.5     1.75   0      0       C
4 4  A    84.8     1.77   0      0       C
5 5  A    87.3     1.65   1      1       A

## Próximos comandos

Suponha que desejamos calcular a média, desvio padrão e erro padrão por tratamento.
Como podemos fazer isso em nosso df?

In [39]:
# uma forma possivel

# unique - retorna valores deduplicados de um vetor
# mean - retorna a media de um vetor
# sd - retorna o desvio padrao de um vetor
# sqrt - retorna a raiz quadrada de um valor


tratamentos = unique ( dfExpandido$Trat )

for ( trat in tratamentos ){
    
    media = mean ( dfExpandido[ dfExpandido$Trat == trat , "Resposta" ] )
    dp = sd ( dfExpandido[ dfExpandido$Trat == trat,]$Resposta )
    ep = dp / sqrt ( nrow ( dfExpandido[ dfExpandido$Trat == trat , ] ) )
    
    print ( paste0 ( "Tratamento " , trat ) )
    print ( paste0 ( "A média é: " , media ) )
    print ( paste0 ( "O desvio padrão é: " , dp ) )
    print ( paste0 ( "O erro padrão é: " , ep ) )
    
}

[1] "Tratamento A"
[1] "A média é: 84.2181818181818"
[1] "O desvio padrão é: 2.75384029377819"
[1] "O erro padrão é: 0.830314089729486"
[1] "Tratamento B"
[1] "A média é: 85.9454545454545"
[1] "O desvio padrão é: 3.71493301053024"
[1] "O erro padrão é: 1.12009444702129"

In [40]:
# Outra forma
# Calcular media da resposta por tratamento
# tapply - dado um vetor com valores e um vetor denotando categorias, executa funcoes de agregacao
mediasGrups = tapply(dfMerge$Resposta, dfMerge$Trat, mean) #médias dos grupos
# Lista - pode-se acessar seus valores pelo nome dos tratamentos
mediasGrups

       A        B
84.21818 85.94545

In [41]:
# media de y para o tratamento A
mediasGrups[['A']]

[1] 84.21818

In [42]:
# Calcular desvio padrao da resposta por tratamento
dpGrups = tapply(dfMerge$Resposta, dfMerge$Trat, sd) #desvio padrão dos grupos
dpGrups

       A        B
2.753840 3.714933

In [43]:
#erro padrão de “A”
dpGrups[['A']]/sqrt(nrow(dfMerge[dfMerge$Trat == 'A',]))

[1] 0.8303141

In [44]:
#erro padrão de “B”
dpGrups[['B']]/sqrt(nrow(dfMerge[dfMerge$Trat == 'B',]))

[1] 1.120094

### Outra forma mais 'intuitiva'

In [45]:
suppressMessages ( library ( dplyr ) )
options( dplyr.summarise.inform = FALSE )

In [46]:
# Outra forma
# group_by: utilizado para denotar variavel pela qual opeacoes de agregacao serao realizadas
# summarise: utilizado para denotar quais operacoes serao realizadas
# n(): retorna quantidade de linhas
# %>%: conhecido como 'pipe', torna a utilizacao de funcoes linear
infos = dfExpandido %>% group_by ( Trat ) %>% summarise ( media = mean ( Resposta ) , dp = sd ( Resposta ) , n = n ( ) ) 
infos

  Trat media    dp       n
1 A    84.21818 2.753840 11
2 B    85.94545 3.714933 11

In [47]:
infos %>% filter ( Trat == "A" )

  Trat media    dp      n
1 A    84.21818 2.75384 11

In [48]:
# mutate: altera ou cria colunas novas
infos %>% mutate ( ep = dp / sqrt ( n ) ) %>% filter(Trat == "A")

  Trat media    dp      n  ep
1 A    84.21818 2.75384 11 0.8303141